<svg viewbox="0,0,32,32"> 
    <defs>
        <linearGradient id="greenFillGradient"
                x1="0%" y1="0%"
                x2="0%" y2="100%"
                spreadMethod="pad">
            <stop offset="0%"   stop-color="#00cc00" stop-opacity="1"/>
            <stop offset="100%" stop-color="#006600" stop-opacity="1"/>
        </linearGradient>
        <linearGradient id="greenBorderGradient"
                x1="0%" y1="0%"
                x2="0%" y2="100%"
                spreadMethod="pad">
            <stop offset="0%"   stop-color="#006600" stop-opacity="1"/>
            <stop offset="100%" stop-color="#00cc00" stop-opacity="1"/>
        </linearGradient>
    </defs>
    <path fill="url(#greenFillGradient)" stroke="url(#greenBorderGradient)" d="M2.379,14.729 5.208,11.899 12.958,19.648 25.877,6.733 28.707,9.561 12.958,25.308z"/>  
</svg>
