<svg viewbox="0,0,32,32"> 
    <defs>
        <linearGradient id="blueLeftFillGradient"
                x1="0%" y1="0%"
                x2="0%" y2="100%"
                spreadMethod="pad">
            <stop offset="0%"   stop-color="#439fe0" stop-opacity="1"/>
            <stop offset="100%" stop-color="#4339e0" stop-opacity="1"/>
        </linearGradient>
        <linearGradient id="blueLeftBorderGradient"
                x1="0%" y1="0%"
                x2="0%" y2="100%"
                spreadMethod="pad">
            <stop offset="0%"   stop-color="#4339e0" stop-opacity="1"/>
            <stop offset="100%" stop-color="#439fe0" stop-opacity="1"/>
        </linearGradient>
    </defs>
    <path fill="url(#blueLeftFillGradient)" stroke="url(#blueLeftBorderGradient)" d="M21.871,9.814 15.684,16.001 21.871,22.188 18.335,25.725 8.612,16.001 18.335,6.276z"/>
</svg>