<svg viewbox="0,0,32,32"> 
    <defs>
        <linearGradient id="redFillGradient"
                x1="0%" y1="0%"
                x2="0%" y2="100%"
                spreadMethod="pad">
            <stop offset="0%"   stop-color="#ff8800" stop-opacity="1"/>
            <stop offset="100%" stop-color="#ff2200" stop-opacity="1"/>
        </linearGradient>
        <linearGradient id="redBorderGradient"
                x1="0%" y1="0%"
                x2="0%" y2="100%"
                spreadMethod="pad">
            <stop offset="0%"   stop-color="#ff2200" stop-opacity="1"/>
            <stop offset="100%" stop-color="#ff8800" stop-opacity="1"/>
        </linearGradient>
    </defs>
    <path fill="url(#redFillGradient)" stroke="url(#redBorderGradient)" d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z"/>  
</svg>
