<div>
    <a class="unit{{glossUnit.position}} glossUnits {{glossUnit.partOfSpeech}}"
       ng-class="{pageLink: glossUnit.isPageLink()}"
       data-hm-tap="glossUnitClick(glossUnit)"
       data-ng-href="#" style="">
        <img class="smallGlossUnitImg"
             data-ng-if="glossUnit.path === 'custom'"
             data-ng-src="img/custom/{{glossUnit.filename}}" />
        <img class="smallGlossUnitImg"
             data-ng-if="glossUnit.path === 'bliss'"
             data-ng-src="{{appSettings.onlineBlissUrl}}{{glossUnit.filename}}" />
        <img class="smallGlossUnitImg"
             data-ng-if="glossUnit.path === 'rt'"
             data-ng-src="{{appSettings.onlineRtUrl}}{{glossUnit.filename}}" />
        <div class="glossUnitTexts">{{glossUnit.text}}</div>
    </a>        
</div>
