<div class="dim">
    <div class="largeGlossUnits {{navPage.currentGlossUnit.partOfSpeech}}" > 
        <img class="largeGlossUnitImg"
             data-ng-if="navPage.currentGlossUnit.path === 'custom'"
             data-ng-src="img/custom/{{navPage.currentGlossUnit.filename}}" />
        <img class="largeGlossUnitImg"
             data-ng-if="navPage.currentGlossUnit.path === 'bliss'"
             data-ng-src="http://www.blisskom.besaba.com/bliss/svg/{{navPage.currentGlossUnit.filename}}" />
        <img class="largeGlossUnitImg"
             data-ng-if="navPage.currentGlossUnit.path === 'rt'"
             data-ng-src="http://www.blisskom.besaba.com/rt/svg/{{navPage.currentGlossUnit.filename}}" />
        <div class="largeGlossUnitTextAreas {{navPage.currentGlossUnit.partOfSpeech}}">
            <div style="position: absolute; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.28);">
                <bk-icon-ok style="position: absolute; left: 0; top; 0; height: 100%; width: 15%; background-color: rgba(255, 255, 255, 0.2); "></bk-icon-ok>
                <input class="largeGlossUnitTexts" type="button" style="" value="{{navPage.currentGlossUnit.text}}" data-ng-click=""/>
                <input class="largeGlossUnitTexts" type="button" style="" value="{{navPage.currentGlossUnit.text}}" data-ng-click=""/>
                <bk-icon-cancel style="position: absolute; left: 85%; top; 0; height: 100%; width: 15%; background-color: rgba(255, 255, 255, 0.2);"></bk-icon-ok>
            </div>
        </div>
    </div>
</div>
