<a testglossunit class="unit{{glossUnit.position}} glossUnits {{glossUnit.partOfSpeech}} {{glossUnit.isPageLink() && 'pageLink' || ''}}"
    data-ng-href="#"
    ng-style="glossUnit.css">
    <div class="smallGlossUnitImg colorGlossUnit"
          ng-if="glossUnit.colorGlossBackgroundColorCode"
          ng-style="{'background-color': glossUnit.colorGlossBackgroundColorCode}">
    </div>
    <img bk-img-src obj=glossUnit class="smallGlossUnitImg" />
    <div class="glossUnitTexts">{{glossUnit.text}}</div>
</a>        
