<style type="text/css" scoped>
    #navBody {
        background-color: {{testColor}};
        z-index: 1; 
        position: absolute; 
        width: 100%; 
        height: 100%;
    }

    .glossUnits {
        display: none;
        position: absolute;
        background: greenyellow;
        border: 1px solid gold;
    }
    
    .noun {
        background-color: {{partOfSpeechColors.noun}};
    }
    .action {
        background-color: {{partOfSpeechColors.action}};
    }
    .description {
        background-color: {{partOfSpeechColors.description}};
    }
    .person {
        background-color: {{partOfSpeechColors.person}};
    }
    .expression {
        background-color: {{partOfSpeechColors.expression}};
    }
    .function {
        background-color: {{partOfSpeechColors.function}};
    }
    
    {{unitStyles}}
</style>
