<style type="text/css" scoped>
    .glossUnits {
        display: none;
        position: absolute;
        background: greenyellow;
        border: 1px solid gold;
        text-align: center;
        overflow: hidden;
    }
    
    .noun {
        background-color: {{partOfSpeechColors.noun}};
    }
    .action {
        background-color: {{partOfSpeechColors.action}};
    }
    .description {
        background-color: {{partOfSpeechColors.description}};
    }
    .person {
        background-color: {{partOfSpeechColors.person}};
    }
    .expression {
        background-color: {{partOfSpeechColors.expression}};
    }
    .function {
        background-color: {{partOfSpeechColors.function}};
    }
    
    {{navPage.unitStyles}}
</style>
