<div id="navBody" ng-style="{'width': '100%', 'height': bodyHeight + 'px', 'top': headerHeight + 'px'}" style="background-color: lightyellow;">
    <style>
        button {
            position: relative;
            width: 10%;
        }
        #selectedImage {
            position: absolute;
            display: block;
            left: 55%;
            width: 30%;
            top: 0;
            background-color: orange;
            border: 1px solid red;
        }
    </style>
    <div id="glossUnitSettings">
    <button>+</button>
    <button ng-repeat="subLeftUnit in gu.glossSubUnitsLeft">sidobild</button>
    <button>mittenbild</button>
    <button ng-repeat="subRightUnit in gu.glossSubUnitsRight">sidobild</button>
    <button>+</button>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
        <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
        <label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
    </div>
    <label for="text" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false">Text:</label><br />
    <input type="text" name="text" />
    <label for="comment">Comment:</label>
    <input type="text" name="comment" ng-value="gu.text"/>
    <!-- ordklass if bliss -->
    </br>
    <select ng-if="gu.partOfSpeech" 
            ng-model="pos1" 
            ng-options="code as name for (name, code) in partOfSpeechColors"
            ng-style="{'background-color':code}">
        <option value="">-- välj ordklass --</option>
    </select>
    
    <select ng-model="gu.partOfSpeech"
            ng-style="{'background-color':partOfSpeechColors[gu.partOfSpeech]}"
            ng-change="checkGuPos()">
        <option ng-repeat="(name, code) in partOfSpeechColors" 
                ng-style="{'background-color':code}"
                ng-selected="gu.partOfSpeech === name"
                ng-value="name">
            {{name}}
        </option>
    </select>
    <!-- sidlänk if mainruta -->
    <input type="text" ng-model="myTextBox"/>
    <div id="selectedImage" ng-style="{'height': bodyHeightMinusKeyboard + 'px'}">sdfdf</div>
    <span ng-repeat="item in navPage.glossUnits | filter: myTextBox">
        <img style="width:100px; height: 100px" ng-src="http://www.blisskom.besaba.com/bliss/svg/{{item.filename}}" />
       {{item.filename}}
    </span>
    <input type="button" value="backup" name="Ta backup" hm-tap="doBackup()"/>
</div>
</div>
