<div class="navHeader" ng-style="{'height': dim.headerHeight + 'px'}" ng-class="{'hidden-element': isHeaderHidden()}">
   <div class="btn-group">
        <button type="button" class="btn btn-header dropdown-toggle" data-toggle="dropdown">
            <bk-icon-menu></bk-icon-menu>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="caret"></span>
            <!--<bk-icon-menu hm-tap="toggleMenu()">-->
        </button>
        <ul class="dropdown-menu" ng-style="{'max-height': dim.bodyHeight}">
            <li hm-tap="navToPage(0)"><a href>Navigering</a></li>
            <li class="divider"></li>
            <li hm-tap="loadGlossUnitSettingsState()"><a href>Rutinställningar</a></li>
            <li><a href>Sidinställningar</a></li>
            <li><a href><s>Samlingsinställningar</s></a></li>
            <li><a href><s>Appinställningar</s></a></li>
            <li><a href>Stilmallsinställningar</a></li>
            <li class="divider"></li>
            <li hm-tap="loadBackupState()"><a href>Säkerhetskopiering</a></li>
            <li class="divider"></li>
            <li hm-tap="loadAboutState()"><a href>Om BlissKom</a></li>
            <li hm-tap="loadTestState()"><a href>Test</a></li>
        </ul>
        <button type="button" 
                class="btn btn-header"
                hm-tap="toggleEditMode()">
            <bk-icon-editmode></bk-icon-editmode>&nbsp;
        </button>
        <button type="button" 
                class="btn btn-header"
                hm-tap="loadConversationState()">
            <bk-icon-book></bk-icon-book>&nbsp;
        </button>
        <button type="button" 
                class="btn btn-header"
                hm-tap="navToStartPage()">
            <bk-icon-home></bk-icon-home>&nbsp;
        </button>
    </div>
    <div class="pageNav" ng-style="{'width': dim.pageNavWidth + 'px'}">
        <div ng-if="!stateHeaderText" ng-repeat="page in navTree.pages" ng-class="{'activeHeaderUrl': $index === navTree.position, 'headerUrl': true}">
            <div>
                <div hm-tap="navToPage($index)"><a href>{{page.name}}</a></div>
                <bk-icon-rightarrow ng-if="!$last"></bk-icon-rightarrow>
                <!--  -->
            </div>
        </div>
        <div ng-if="stateHeaderText" class="headerUrl activeHeaderUrl">
            <div>
                <div><a href>{{stateHeaderText}}</a></div>
            </div>
        </div>
    </div>
    <div class="btn-group" style="position: absolute; right: 10px;">
        <button type="button" class="btn btn-header" style="position: absolute; right: 40px;">
            <bk-icon-logactive ng-show="isLogging()" hm-tap="toggleLogging()"></bk-icon-logactive>
            <bk-icon-loginactive ng-show="!isLogging()" hm-tap="toggleLogging()"></bk-icon-loginactive>
            &nbsp;
        </button>
    </div>
    <bk-icon-connected ng-if="user"></bk-icon-connected>
    <bk-icon-disconnected ng-if="!user"></bk-icon-disconnected>
</div>
<div id="menu" ng-show="isMenuVisible">
    <ul ng-style="{'height': dim.menuHeight, 'font-size': dim.menuItemFontSize}">
    </ul>
</div>
