<div id="navHeader" ng-style="{'height': headerHeight + 'px'}">
    <bk-icon-menu hm-tap="toggleMenu()"></bk-icon-menu>
    <bk-icon-editmode></bk-icon-editmode>
    <bk-icon-book></bk-icon-book>
    <bk-icon-home hm-tap="navToPage(0)"></bk-icon-home>
    <bk-icon-logactive ng-show="isLogActive" hm-tap="toggleLogActivity()"></bk-icon-logactive>
    <bk-icon-loginactive ng-show="!isLogActive" hm-tap="toggleLogActivity()"></bk-icon-loginactive>

    <div id="pageNav" ng-style="{'width': pageNavWidth + 'px'}">
        <div ng-repeat="pageName in currentNavTree.treePageNames" ng-class="{activeHeaderUrl: $index === currentNavTree.position, headerUrl: true}">
            <div>
                <div hm-tap="navToPage($index)">{{pageName}}</div>
                <bk-icon-rightarrow ng-if="!$last"></bk-icon-rightarrow>
            </div>
        </div>
    </div>
    <bk-icon-connected ng-if="user"></bk-icon-connected>
    <bk-icon-disconnected ng-if="!user"></bk-icon-disconnected>
</div>
<div id="menu" ng-show="isMenuVisible">
    <ul ng-style="{'height':menuHeight, 'font-size':menuItemFontSize}">
        <li ng-style="{'height':menuItemHeight + 'px', 'line-height':menuItemHeight + 'px'}">Navigering</li>
        <li ng-style="{'height':menuItemHeight + 'px', 'line-height':menuItemHeight + 'px'}"
            hm-tap='loadGlossUnitSettingsState()'>Rutinställningar</li>
        <li ng-style="{'height':menuItemHeight + 'px', 'line-height':menuItemHeight + 'px'}">Sidinställningar</li>
        <li ng-style="{'height':menuItemHeight + 'px', 'line-height':menuItemHeight + 'px'}">Samlingsinställningar</li>
        <li ng-style="{'height':menuItemHeight + 'px', 'line-height':menuItemHeight + 'px'}">Appinställningar</li>
        <li ng-style="{'height':menuItemHeight + 'px', 'line-height':menuItemHeight + 'px'}">Stilmallsinställningar</li>
        <li ng-style="{'height':menuItemHeight + 'px', 'line-height':menuItemHeight + 'px'}">Säkerhetskopiering</li>
        <li ng-style="{'height':menuItemHeight + 'px', 'line-height':menuItemHeight + 'px'}">Om BlissKom</li>
    </ul>
</div>
