<div id="navBody" ng-style="{'width': '100%', 'height': bodyHeight + 'px', 'top': headerHeight + 'px'}" hm-swipe-right="navToPrevPage()" hm-swipe-left="navToNextPage()" hm-swipe-up="hideHeader()" hm-swipe-down="showHeader()">
    <bk-nav-style></bk-nav-style>
    <div data-ng-repeat="glossUnit in navPage.glossUnits">
        <bk-gloss-unit-small />
    </div>
    <div ng-repeat="cssUnit in navPage.cssTemplateData.settings"
         ng-if="cssUnit.group">
        <bk-unit-group />
    </div>
    <div ng-if="isEditMode() && !cssUnit.group"
         style='position: absolute; border: 2px dotted brown; text-align: center;'
         ng-repeat="cssUnit in navPage.cssTemplateData.settings" 
         ng-style="{'height': {{cssUnit.height}} + '%', 'width': {{cssUnit.width}} + '%', 'top': {{cssUnit.top}} + '%', 'left': {{cssUnit.left}} + '%'}"
         class='lightdim unit{{cssUnit.position}}'>
            <bk-icon-edit class="editModeButtonEdit"
                              ng-if="!movedGlossUnit"
                              hm-tap="loadGlossUnitSettingsState(cssUnit.position)"
                              ng-style="{'width':smallIconSize + 'px', 'height':smallIconSize + 'px'}"></bk-icon-edit>
            <bk-icon-remove class="editModeButtonDelete"
                          ng-if="!movedGlossUnit && getGlossUnitByPosition(cssUnit.position)"
                          hm-tap="deleteGlossUnit(cssUnit.position)"
                          ng-style="{'width':smallIconSize + 'px', 'height':smallIconSize + 'px'}"></bk-icon-remove>
            <bk-icon-cut class="editModeButtonMove"
                         ng-if="!movedGlossUnit && getGlossUnitByPosition(cssUnit.position)"
                         hm-tap="moveGlossUnit(cssUnit.position)"
                         ng-style="{'width':smallIconSize + 'px', 'height':smallIconSize + 'px'}"></bk-icon-cut>
            <bk-icon-copy class="editModeButtonCopy"
                          ng-if="!movedGlossUnit && getGlossUnitByPosition(cssUnit.position)"
                          hm-tap="copyGlossUnit(cssUnit.position)"
                          ng-style="{'width':smallIconSize + 'px', 'height':smallIconSize + 'px'}"></bk-icon-copy>
            <bk-icon-placeandswitch class="editModeButtonPlace"
                    ng-if="movedGlossUnit && movedGlossUnit !== getGlossUnitByPosition(cssUnit.position)"
                    hm-tap="placeAndSwitchGlossUnit(cssUnit.position)"
                    ng-style="{'width':smallIconSize + 'px', 'height':smallIconSize + 'px'}"></bk-icon-placeandswitch>
            <bk-icon-paste class="editModeButtonPaste"
                    ng-if="copiedGlossUnit && !getGlossUnitByPosition(cssUnit.position)"
                    hm-tap="pasteGlossUnit(cssUnit.position)"
                    ng-style="{'width':smallIconSize + 'px', 'height':smallIconSize + 'px'}"></bk-icon-paste>
            <bk-icon-smallcancel class="editModeButtonCancel"
                    ng-if="movedGlossUnit && movedGlossUnit === getGlossUnitByPosition(cssUnit.position)" 
                    hm-tap="cancelMoveGlossUnit()"
                    ng-style="{'width':smallIconSize + 'px', 'height':smallIconSize + 'px'}"></bk-icon-smallcancel>
            <label class="editModeUnitNumberOverlay"
                   ng-style="{'font-size': {{cssUnit.height}} / 100 * bodyHeight + 'px'}">
                {{cssUnit.position}}
            </label>
    </div>

    <div ng-show="showEnlargedGlossUnit">
        <bk-gloss-unit-big />
    </div>
    <div class="notificationBar">{{notification}}</div>
    <img class="backgroundImage" src="img/BlissKom.svg" style='filter: drop-shadow(3px);' ng-style="{'height': appHeight + 'px', 'top': -headerHeight + 'px'}"/>
</div>

