<!--<div id="test"></div>
<div>{{greeting}}</div>
<div ng-repeat="item in items">{{item.name}}</div>-->
<!--<div ng-repeat="glossUnit in glossUnits" style="display: inline-block">
  <p style="display: inline-block;">
      <a ng-href="#">
          <img ng-src="img/contentImg/{{glossUnit.mainImage.url}}" style="max-width: 80px;"/>
      </a>
  </p>
</div>-->
<div id="navHeader">
    <div id="navPageName">{{navPage.pageName}}</div>
</div>

<div id="navBody">
    <bk-nav-style></bk-nav-style>
    <div data-ng-repeat="glossUnit in glossUnits">
        <bk-gloss-unit-mini data-bk-pageid="1"/>
    </div>
<!--    <img id="unit1" class="testUnit" alt="" src="img/contentImg/hej.svg" />
    <img id="unit2" class="testUnit" alt="" src="img/contentImg/hej.svg" />
    <img id="unit3" class="testUnit" alt="" src="img/contentImg/hej.svg" />
    <img id="unit4" class="testUnit" alt="" src="img/contentImg/hej.svg" />
    <img id="unit5" class="testUnit" alt="" src="img/contentImg/hej.svg" />-->
</div>
<div class="app">
    <h1>Apache Cordova</h1>
    <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device, hold on! (Main)</p>
        <p class="event received">Device is Ready, yay!</p>
    </div>
</div>

