* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {
    background-color: #333;
}
body {
    background-color: #333;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-image: url('../img/BlissKom.svg');
    /* background-color: rgb(218, 52, 52); */
    //background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    //background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    //background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    //background-image:-webkit-gradient(
    //    linear,
    //    left top,
    //    left bottom,
    //    color-stop(0, #A7A7A7),
    //    color-stop(0.51, #E4E4E4)
    //);
    //background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
/*    text-transform:uppercase;*/
    width:100%;
    overflow: hidden;
}

/* Portrait layout (default) */
//.app {
    //background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    //position:absolute;             /* position in the center of the screen */
    //left:50%;
    //top:50%;
    //height:50px;                   /* text area height */
    //width:225px;                   /* text area width */
    //text-align:center;
    //padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    //margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
//}

/* Landscape layout (with min-width) */
//@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
//    .app {
//        background-position:left center;
//        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
//        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
//                                      /* offset horizontal: half of image width and text area width */
//    }
//}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


//egen kod:

html, body {
    overflow: hidden !important; //disable scroll of screen
}
body > div {
    overflow: hidden !important; //disable scroll of screen
}
body div {
    //behövs tydligen för att css ska visas korrekt?
}

#navBody {
    background-color: #333;
    z-index: 1; 
    position: absolute; 
    top: 40px;
    width: 100%; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*height: calc(100% - 40px);*/
    overflow: hidden;
}
    
#navHeader {
    display: block;
    background-color: #222;
    z-index: 1;
    position: absolute;
    width: 100%;
    /*height: 40px;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 4px double gray;
    overflow: hidden;
}

#pageNav {
    display: block;
    color: white;
    position: relative;
    font-size: 1rem;
    left: 152px;
    height: 40px;
    //width: calc(100% - 242px);
    text-align: center;
}

/*laborated with this fiddle: http://jsfiddle.net/Zv9SM/
  all images centered vertically and horizontally. */
img.smallGlossUnitImg, img.largeGlossUnitImg, svg {
    position: absolute;
    zoom: 2;  /*enlarges img size of images that doesn't fill parent div, but
                decreases quality of images.*/
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img.largeGlossUnitImg {
}

div.dim {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 2;
}

div.lightdim {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.largeGlossUnits {
    position: absolute; 
    display: block;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    z-index: 3; 
    width: 85%; 
    height: 85%;
    left: 7.5%;
    top: 3.75%;
    border-radius: 15px;
}

.glossUnits {
    display: none;
    position: absolute;
    text-align: center;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.glossUnits, .largeGlossUnits {
    background-color: #eee;
    color: #000;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    text-align: center;
    text-decoration: none;    
}

.glossUnits:active {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
}

.glossUnitTexts {
    display: block;
    width: 100%;
    position: absolute;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    line-height: 1.2;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    text-indent: 6%;
    z-index: 2;
}

.pageLink > .glossUnitTexts {
    display: block;
    color: white;
    background-color: black;
}

.largeGlossUnitTextAreas {
    display: block;
    height: 15%;
    width: 90%;
    position: absolute;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    line-height: 1;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6em;
    text-align: center;
    top: 95%;
    left: 5%;
    z-index: 4;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    border-radius: 15px;
    overflow: hidden;
    background-color: #eee;
    -webkit-box-shadow: 0 -1px 10px 1px black;
    box-shadow: 0 -1px 10px 1px black;
}

.largeGlossUnitTextAreas > div {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.29);
    overflow: hidden;
    border-radius: 15px;
}
.largeGlossUnitTexts {
    display: inline-block;
    position: relative;
    max-height: 100%;
    height: 80%;
    top: 10%;
    /*padding-left: 5%;
    padding-right: 15%;*/
    font-size: 100%;
    font-weight: 700;
    margin: 0 auto;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.1);
    border-radius: 5%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0 2px;
}

bk-icon-ok, bk-icon-cancel {
    position: absolute; 
    height: 100%; 
    width: 15%; 
    background-color: rgba(255, 255, 255, 0.2);
}

bk-icon-ok {
    left: 0; 
    border-radius: 15px 0 0 15px;
}

bk-icon-cancel {
    left: 85%; 
    border-radius: 0 15px 15px 0;
}

#pageNav .headerUrl {
    color: gray;
    display: inline-block; 
    height: 40px;
}
#pageNav .activeHeaderUrl {
    color: #00af00;
    font-weight: bold;
}

#pageNav .headerUrl > div {
    display: block;
    height: 36px;
    padding-right: 28px;
    position: relative;
}

#pageNav .headerUrl > div > div {
    display: inline-block;
    line-height: 36px;
    position: relative;
}

#pageNav .headerUrl > div > bk-icon-rightarrow {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 24px;
}

#navHeader > bk-icon-connected {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    right: 5px;
    top: 0px;
}

#navHeader > bk-icon-disconnected {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    right: 5px;
    top: 0px;
}

bk-icon-menu, bk-icon-editmode, bk-icon-book, bk-icon-home, bk-icon-logactive, bk-icon-loginactive {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
}
bk-icon-menu {
    left: 0;
}
bk-icon-editmode {
    left: 38px;
}
bk-icon-book {
    left: 76px;
}
bk-icon-home {
    left: 114px;
}

bk-icon-logactive, bk-icon-loginactive {
    right: 40px;
    padding-left: 30px; /* större klickutrymme */
    padding-right: 10px; /* större klickutrymme */
    z-index: 2;
}

#menu {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 100px;
    background-color: red;
    z-index: 10;
}

.glossUnitCommentArea {
    width: 100%;
    display: block;
    position: absolute;
    min-height: 36px;
    top: 0;
}

.glossUnitComment {
    display: block;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 15px 15px 0 0; //same border-radius as .largeGlossUnits
    height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*padding-left: 5%;
    padding-right: 15%;*/
    font-size: 20px;
    font-weight: 500;
}
.glossUnitCommentArea > bk-icon-comment {
    right: 2px;
    display: block;
    position: absolute;
    height: 36px;
    width: 36px;
    color: green;
    z-index: 2;
}

.largeGlossUnits > bk-icon-bigrightarrow {
    position: absolute; 
    height: 64px; 
    width: 64px;
    //top: calc(50% - 62px); /*50%  - (half height + full padding)*/
    right: -82px;
    padding: 30px;
}

.largeGlossUnits > bk-icon-bigleftarrow {
    position: absolute; 
    height: 64px; 
    width: 64px;
    //top: calc(50% - 62px); /*50%  - (half height + full padding)*/
    left: -82px;
    padding: 30px;
}

.notificationBar {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24px;
    font-size: 24px;
    line-height: 1;
    background-color: gray;
    padding: 6px;
    pointer-events: none;
    z-index: 2;
    opacity: 0;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
.showForAWhile, .showForAWhile2 {
    -webkit-animation: fadeout 2s;
    animation: fadeout 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay:3s;
    animation-delay:3s;
    opacity: 1
}
#menu {
    margin: 0;
    padding: 0;
}
#menu ul {
    position: absolute;
    display: block;
    //height: calc(100% - 60px);
    list-style: none !important;
    margin: 0;
    background-color: blue;
    padding: 0;
    padding-top: 10px;
    margin-left: 2px;
    -webkit-box-shadow: 0 2px 5px 2px black;
    box-shadow: 0 2px 5px 2px black;
    //-webkit-box-sizing: border-box;
    //box-sizing: border-box;
}

#menu li {
    display: relative;
    margin: 0 !important;
    background-color: lightblue;
    //padding-top: 4px;
    //padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    //height: 12%;
    //line-height:;
    //font-size: 14px;
    overflow: hidden;
    //-webkit-box-sizing: border-box;
    //box-sizing: border-box;
}

.backgroundImage, .backgroundImageStart {
    max-width: 100%; 
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 0;
    margin: auto;
}

.backgroundImageStart {
    height: 100%;
    background-color: #333;
}

.editModeButtonEdit {
    position: absolute;
    top: 0;
    left: 0;
}
.editModeButtonDelete, .editModeButtonCancel {
    position: absolute;
    top: 0;
    right: 0;
}
.editModeButtonMove, .editModeButtonPlace {
    position: absolute;
    bottom: 0;
    left: 0;
}
.editModeButtonCopy, .editModeButtonPaste {
    position: absolute;
    bottom: 0;
    right: 0;
}

.editModeUnitNumberOverlay {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    line-height: 1;
    width: 100%;
    color: rgba(255,255,255,0.35);                
}