* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
/*    text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


//egen kod:


body div {
    //beh?vs tydligen f?r att css ska visas korrekt?
}

#navBody {
    background-color: #333;
    z-index: 1; 
    position: absolute; 
    top: 40px;
    width: 100%; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: calc(100% - 40px);
}
    
#navHeader {
    display: block;
    background-color: #222;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 4px double gray;
}

#pageNav {
    display: block;
    color: white;
    position: relative;
    font-size: 1rem;
    left: 20%;
    height: 40px;
    width: 70%;
    text-align: center;
}

/*laborated with this fiddle: http://jsfiddle.net/Zv9SM/
  all images centered vertically and horizontally. */
img.smallGlossUnitImg, img.largeGlossUnitImg, svg {
    position: absolute;
    /*zoom: 5;  enlarges img size of images that doesn't fill parent div, but
                decreases quality of images large enough.*/
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img.largeGlossUnitImg {
}

div.dim {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.largeGlossUnits {
    position: absolute; 
    display: block;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    z-index: 3; 
    width: 85%; 
    height: 85%;
    left: 7.5%;
    top: 3.75%;
    border-radius: 15px;
}

.glossUnits {
    display: none;
    position: absolute;
    text-align: center;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.glossUnits, .largeGlossUnits {
    background-color: #eee;
    color: #000;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    text-align: center;
    text-decoration: none;    
}

.glossUnits:active {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
}

.glossUnitTexts {
    display: block;
    width: 100%;
    position: absolute;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    line-height: 1.2;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    text-indent: 6%;
    z-index: 2;
}

.pageLink > .glossUnitTexts {
    display: block;
    color: white;
    background-color: black;
}

.largeGlossUnitTextAreas {
    display: block;
    height: 15%;
    width: 90%;
    position: absolute;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    line-height: 1;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6em;
    text-align: center;
    top: 95%;
    left: 5%;
    z-index: 4;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    border-radius: 15px;
    overflow: hidden;
    background-color: #eee;
}

.largeGlossUnitTexts {
    display: inline-block;
    position: relative;
    max-height: 100%;
    height: 80%;
    top: 10%;
    /*padding-left: 5%;
    padding-right: 15%;*/
    font-size: 100%;
    font-weight: 700;
    margin: 0 auto;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.1);
    border-radius: 5%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0 2px;
}

bk-icon-ok, bk-icon-cancel {
    position: absolute; 
    height: 100%; 
    width: 15%; 
    background-color: rgba(255, 255, 255, 0.2);
}

bk-icon-ok {
    left: 0; 
}

bk-icon-cancel {
    left: 85%; 
}

#pageNav .headerUrl {
    color: gray;
    display: inline-block; 
    height: 40px;
}
#pageNav .activeHeaderUrl {
    color: #00af00;
    font-weight: bold;
}

#pageNav .headerUrl > div {
    display: block;
    height: 36px;
    padding-right: 28px;
    position: relative;
}

#pageNav .headerUrl > div > div {
    display: inline-block;
    line-height: 36px;
    position: relative;
}

#pageNav .headerUrl > div > bk-icon-rightarrow {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 24px;
}

#navHeader > bk-icon-connected {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    right: 5px;
    top: 0px;
}

#navHeader > bk-icon-disconnected {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    right: 5px;
    top: 0px;
}

bk-icon-menu, bk-icon-editmode, bk-icon-book, bk-icon-home {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
}
bk-icon-menu {
    left: 0;
}
bk-icon-editmode {
    left: 38px;
}
bk-icon-book {
    left: 76px;
}
bk-icon-home {
    left: 114px;
}
        