* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {
    background-color: #333; 
}
body {
    background-color: #333;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-image: url('../img/BlissKom.svg');
    background-color: rgb(218, 52, 52);
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
/*    text-transform:uppercase;*/
    width:100%;
    overflow: hidden;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* prevent html content to be rendered before load */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*egen kod nedan */

html, body {
    overflow: hidden !important; /*disable scroll of screen*/
}
body > div {
    overflow: hidden !important; /*disable scroll of screen*/
}
body div {
    /*beh�vs tydligen f�r att css ska visas korrekt?*/
}

#navBody {
    background-color: #333;
    z-index: 1; 
    position: absolute; 
    top: 40px;
    width: 100%; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*height: calc(100% - 40px);*/
    overflow: hidden;
}
    
#navHeader {
    display: block;
    background-color: #222;
    z-index: 4;
    position: absolute;
    width: 100%;
    /*height: 40px;*/
    border-bottom: 2px inset #444;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*border-bottom: 4px double gray;*/
}

#pageNav {
    display: block;
    color: white;
    position: absolute;
    font-size: 16px;
    left: 265px;
    height: 42px;
    top: 0;
    /*width: calc(100% - 242px);*/
    text-align: left;
    text-indent: 1px;
    overflow: hidden;
}

/*laborated with this fiddle: http://jsfiddle.net/Zv9SM/
  all images centered vertically and horizontally. */
img.smallGlossUnitImg, img.largeGlossUnitImg, svg, img.selectedImageImg {
    position: absolute;
    zoom: 2;  /*enlarges img size of images that doesn't fill parent div, but
                decreases quality of images. 
                css-validator: Property zoom doesn't exist : 2.*/
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img.largeGlossUnitImg {
}

div.dim {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 2;
}

div.lightdim {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.largeGlossUnits {
    position: absolute; 
    display: block;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    z-index: 3; 
    width: 85%; 
    height: 85%;
    left: 7.5%;
    top: 3.75%;
    border-radius: 15px;
}

.glossUnits {
    display: none;
    position: absolute;
    text-align: center;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.glossUnits, .largeGlossUnits {
    background-color: #eee;
    color: #000;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    text-align: center;
    text-decoration: none;    
}

.glossUnits:active {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
}

.glossUnitTexts {
    display: block;
    width: 100%;
    position: absolute;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    line-height: 1.2;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    text-indent: 6%;
    z-index: 2;
}

.pageLink > .glossUnitTexts {
    display: block;
    color: white;
    background-color: black;
}

.largeGlossUnitTextAreas {
    display: block;
    height: 15%;
    width: 90%;
    position: absolute;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    line-height: 1;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6em;
    text-align: center;
    top: 95%;
    left: 5%;
    z-index: 4;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    border-radius: 15px;
    overflow: hidden;
    background-color: #eee;
    -webkit-box-shadow: 0 -1px 10px 1px black;
    box-shadow: 0 -1px 10px 1px black;
}

.largeGlossUnitTextAreas > div {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.29);
    overflow: hidden;
    border-radius: 15px;
}
.largeGlossUnitTexts {
    display: inline-block;
    position: relative;
    max-height: 100%;
    height: 80%;
    top: 10%;
    /*padding-left: 5%;
    padding-right: 15%;*/
    font-size: 100%;
    font-weight: 700;
    margin: 0 auto;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.1);
    border-radius: 5%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0 2px;
}

bk-icon-ok, bk-icon-cancel {
    position: absolute; 
    height: 100%; 
    width: 15%; 
    background-color: rgba(255, 255, 255, 0.2);
}

bk-icon-ok {
    left: 0; 
    border-radius: 15px 0 0 15px;
}

bk-icon-cancel {
    left: 85%; 
    border-radius: 0 15px 15px 0;
}

#pageNav .headerUrl {
    color: gray;
    display: inline-block; 
    height: 42px;
}
#pageNav .activeHeaderUrl {
    color: #2aabd2;
    font-weight: bold;
}

#pageNav .headerUrl > div {
    display: block;
    height: 42px;
    padding-right: 21px;
    position: relative;
}

#pageNav .headerUrl > div > div {
    display: inline-block;
    line-height: 42px;
    position: relative;
}

#pageNav .headerUrl > div > div > a {
    color: #888;
    text-decoration: none;
    background-color: rgba(255,255,255,0.05);
    padding: 2px 8px;
    border-radius: 4px;
}

#pageNav .activeHeaderUrl > div > div > a {
    color: #2aabd2;
    background-color: rgba(255,255,255,0.05);
}

#pageNav .headerUrl:not(.activeHeaderUrl) > div > div > a:hover {
    background-color: rgba(255,255,255,0.20);
    color: rgba(255,255,255,0.90);
}

#pageNav .headerUrl:not(.activeHeaderUrl) > div > div > a:focus,
#pageNav .headerUrl:not(.activeHeaderUrl) > div > div > a:active {
    background-color: rgba(255,255,255,0.20);
    color: rgba(255,255,255,0.90);
    border: 1px solid rgba(255,255,255,0.30);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px 7px;
}
#pageNav .headerUrl > div > bk-icon-rightarrow {
    display: inline-block;
    position: absolute;
    right: -3px;
    top: 3px;
    height: 36px;
    width: 24px;
}

#navHeader > bk-icon-connected {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    right: 5px;
    top: 0px;
}

#navHeader > bk-icon-disconnected {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    right: 5px;
    top: 0px;
}

#menu {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 100px;
    background-color: red;
    z-index: 10;
}

.glossUnitCommentArea {
    width: 100%;
    display: block;
    position: absolute;
    min-height: 36px;
    top: 0;
}

.glossUnitComment {
    display: block;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 15px 15px 0 0; /*same border-radius as .largeGlossUnits*/
    height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*padding-left: 5%;
    padding-right: 15%;*/
    font-size: 20px;
    font-weight: 500;
}
.glossUnitCommentArea > bk-icon-comment {
    right: 2px;
    display: block;
    position: absolute;
    height: 36px;
    width: 36px;
    color: green;
    z-index: 2;
}

.largeGlossUnits > bk-icon-bigrightarrow {
    display: block;
    position: absolute; 
    height: 64px; 
    width: 64px;
    /*top: calc(50% - 62px); /*50%  - (half height + full padding)*/
    right: -82px;
    padding: 30px;
}

.largeGlossUnits > bk-icon-bigleftarrow {
    display: block;
    position: absolute; 
    height: 64px; 
    width: 64px;
    /*top: calc(50% - 62px); /*50%  - (half height + full padding)*/
    left: -82px;
    padding: 30px;
}

.largeGlossUnits > bk-icon-bigleftarrow > svg, .largeGlossUnits > bk-icon-bigrightarrow > svg {
    height: 100%;
    left: 30%;
    top: 80%;
}
.notificationBar {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
    font-size: 20px;
    padding: 6px 0 6px 0;
    text-indent: 6px;
    line-height: 1;
    background-color: gray;
    pointer-events: none; /* css-validator: Property pointer-events doesn't exist : none */
    z-index: 2;
    opacity: 0;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
.showForAWhile, .showForAWhile2 {
    -webkit-animation: fadeout 2s;
    animation: fadeout 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay:3s;
    animation-delay:3s;
    opacity: 1
}
#menu {
    margin: 0;
    padding: 0;
}
#menu ul {
    position: absolute;
    display: block;
    list-style: none !important;
    margin: 0;
    background-color: blue;
    padding: 0;
    padding-top: 10px;
    margin-left: 2px;
    -webkit-box-shadow: 0 2px 5px 2px black;
    box-shadow: 0 2px 5px 2px black;
    /*-webkit-box-sizing: border-box;
    box-sizing: border-box;*/
}

#menu li {
    position: relative;
    margin: 0 !important;
    background-color: lightblue;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.backgroundImage, .backgroundImageStart {
    max-width: 100%; 
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 0;
    margin: auto;
}

.backgroundImageStart {
    height: 100%;
    background-color: #333;
}

.editModeButtonEdit {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: rgba(255,255,255,0.35);
    border: 2px solid rgba(255,255,255,0.35);
}
.editModeButtonDelete, .editModeButtonCancel {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgba(255,255,255,0.35);
    border: 2px solid rgba(255,255,255,0.35);
}
.editModeButtonMove, .editModeButtonPlace {
    display: block;
    position: absolute;
    bottom: 2px;
    left: 2px;
    background-color: rgba(255,255,255,0.35);
    border: 2px solid rgba(255,255,255,0.35);
}
.editModeButtonCopy, .editModeButtonPaste {
    display: block;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: rgba(255,255,255,0.35);
    border: 2px solid rgba(255,255,255,0.35);
}

.editModeUnitNumberOverlay {
    pointer-events: none; /* css-validator: Property pointer-events doesn't exist : none */
    display: block;
    position: absolute;
    top: 0;
    line-height: 1;
    width: 100%;
    color: rgba(255,255,255,0.35);                
}

.hidden-element {
    /*overflow: hidden;*/
    visibility: hidden;
}
/*bootstrap-korrigeringar*/

bk-icon-menu, bk-icon-editmode, bk-icon-home, bk-icon-book, bk-icon-logactive, bk-icon-loginactive {
    position: absolute;
    display: block; 
    height: 30px;
    width: 30px;
    margin-left: -13px;
    margin-top: -4px;
    padding: 0;
}
/* ikonerna avviker lite i placering */
bk-icon-book {
    margin-left: -12px; 
    margin-top: -2px;
}
bk-icon-home {
    margin-left: -15px; 
    margin-top: -6px;
}

bk-icon-logactive, bk-icon-loginactive {
    margin-top: -6px;    
}
.btn-header {
    margin-left: 2px !important;
    margin-right: 2px !important;
    padding-left: 23px !important;
    padding-right: 23px  !important;
    margin-top: 2px;
}

.btn-header > .caret {
    color: white; 
    margin-right: -10px
}

.buttonSelected {
   text-decoration: underline !important;
}